@font-face {
    font-family: 'Pokemon Solid';
    src: url(../../assets/fonts/Pokemon\ Solid.ttf);
}

/* --- */
/* container-langing */
.landing-container{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    color: #2E4595;
    font-family: 'Pokemon Solid';
    gap: 0px;
}

/* --- */
/* imagen-landing */
.landing-img-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    width: 50%;
}

img.fondo-pokemos{
    margin: 0;
    width: 90%;
}

/* --- */
/* formulario-landing */
.landing-form-container{
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
   
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 80%;
    gap: 80px;
    border: 5px solid black;
    background-color: #E3E2E3;
    box-shadow: 0px -8px 8px 0px rgba(0, 0, 0, 0.25), 0px 8px 8px 0px rgba(0, 0, 0, 0.25), -8px 0px 8px 0px rgba(0, 0, 0, 0.25), 8px 0px 8px 0px rgba(0, 0, 0, 0.25);
}

.logo-bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#ball{
    position: relative;
    width: 100px;
    bottom: 30px;
}

.logo-bienvenida h1{
    font-size: 46px;
    position: relative;
    bottom: 40px;
}

img.welcome{
    width: 200px;
}


.button-start button{
    margin: 0;
    font-family: 'Walter Turncoat';
    font-size: 26px;
    border: 2px solid black;
    width: 240px;
    border-radius: 16px;
    background-color: #ffffff;
    color: #2E4595;
}

.button-start button:hover{
    background-color: #2E4595;
    color: #ffffff;
}


